extends layout
block content
  h1= title
  - let results= result;
  a(class="btn btn-success" href="/jar/create") Create
  div(class="container-fluid")
  div(class="row m-1")
    each value,index in result
      - let destination = `dispatch(\"/jar/update?id=${value._id}\")` 
        div(class="col-sm-2" onclick=`buy(${index})`)  #{value.length} -  #{value.weight} - #{value.height} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update    
          a(class="btn btn-danger" href=`/jar/delete?id=${result._id}`) Delete
          a(class="btn btn-dark" href=`/jar/detail?id=${result._id}`) Details
  br
  div(class="container-fluid")
    div(class="row")
    - for(var i=0;i<result.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{result[i].length}
    -}
  script. 
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }
    function dispatch(path){ 
      window.location.href=path 
    } 
    